.navbar-brand {
  float: left;
  height: 65px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.red {
    color: #94012d;

}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 12px 10px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle {
    background-color: #94012d;
    border-color: #94012d;
}

.navbar-default .navbar-toggle:focus {
    background-color: #800000;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #94012d;
    outline: 0;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #94012d;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #7a222e;
}

/*--
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: #a94442;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
}

*/


.saturate * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.saturate {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 400px;
  width: 100%;
  color: #94012d;
  text-align: left;
  font-size: 16px;
  background-color: #fff;
}

.img-saturate img {
	vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.img-saturate img:hover
{
	filter: saturate(200%);
	-webkit-filter: saturate(200%);
	-moz-filter: saturate(200%);
	-o-filter: saturate(200%);
	-ms-filter: saturate(200%);
  	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}

.saturate figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.saturate h3,
.saturate h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.saturate h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
}

.saturate h5 {
  font-weight: normal;
  font-style: italic;
  color: #888;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.saturate a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.saturate:hover > img,
.saturate.hover > img {
  opacity: 0.1;
}

.saturate:hover h3,
.saturate.hover h3,
.saturate:hover h5,
.saturate.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.team-member img {
    display: block;
    max-width: 100%;
    height: auto;
    float: left;
    margin-bottom: 30px;
    transition: all .2s ease-in-out;
}

.self-info {
	display: block;
  max-width: 90%;
  height: auto;
  margin-bottom: 30px;
  margin-left: 40px;
}

::selection {
    text-shadow: none;
    background: #94012d;
}

address {
	display: block;

}

a {
	color: #94012d;
	font-size: 18px;
}

a:hover{
	color: #200000;
}

#photo:hover{
	content:url(../img/team/my-color.png);

}

.btn-primary {
    color: #fff;
    background-color: #94012d;
    border-color: #94012d;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

@media (min-width: 768px) {
	.team-member img {
	text-align: left;
    width: 300px;
    height: 300px;
    margin-left: 20%;
}

    .self-info {
    display: block;
    max-width: 90%;
    height: auto;
    text-align: left;
} 

  header {
    height: 900px;
  }


}



/*
#wrapper-header{
  position: relative;
  width:30em;
  margin: 0 auto;
}
header,
article {
    width: 30em;
    margin: 0 auto 1em;
    position: relative;
  z-index: 50;
}
header {
    text-align: center;
   
    margin-bottom: 10em;
}
    h1 span {
        display: block;
    }
article {
    height: 5em;
}
    article:last-child {
        margin-bottom: 10em;
    }
    h2 {
        /*opacity: 0.7;*/
        /*box-shadow: 0 0 15px rgba(0,0,0,0.1);*/
    }


/* IMAGES 

.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 850px;
  background-color: #c5d9d2;
  
  z-index: 0;
}
.parallax-layer {
  width: 100%;
  height: 600px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 2500px 379px;

}
.layer-0 {
  top: 0;
  z-index: 20;
  background:  url(../img/banner/h1.png) no-repeat top 40px center;
  background-size: 80%;
}
.layer-1 {
  top: 20px;
  z-index: 5;
  background-image: url('http://liverez.com/conference/img/parallax0.png');

}
.layer-2 {
  top: 0px;
  z-index: 20;
  background-image: url(../img/banner/l4.png);
}
.layer-3 {
  top: 0px;
  z-index: 15;
  background-image: url(../img/banner/l3.png);
}
.layer-4 {
  top: 0px;
  z-index: 10;
  background-image: url(../img/banner/l2.png);
}
.layer-5 {
  top: 0px;
  z-index: 5;
  background-image: url(../img/banner/l1.png);
}

.layer-7 {
  top: 0px;
  z-index: 25;
  background-image: url(../img/banner/l5.png);

}
 
  
.content {
  position: absolute;
  top: 400px;
  background: #06374F;
  width: 100%;
  min-height: 3000px;
  z-index: 1000;
}
.content h1 {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

section {
  position: relative;
  width: 100% !important;
  min-height: 1000px;
  overflow: hidden;
}

.about-me {

  background: #06374F;
 

}
*/








