@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.head {
  height:50%; 
  width:50%;
  float: left;
}

.flex-img {
  display: block;
  width: 100%;
}

.img-fit {
  max-width: 99%;
  max-height: 99%;
  display: block;
}

.lightbox {
  text-align: center;
  position: fixed;
  width: 100%;
  margin-top: 10%;
  top: 0;  
  left: 0;
  background-color: rgba(0,0,0,.7);
  display: none;
}

.center {
  margin-top: 0;
}

.logo {
  float: left;
  max-width: 15%;
  max-height: 15%;
}

.lightbox:target {
  display: block;
}

.lightbox img {
  max-height: 100vh;
  max-width: 100vh;
  margin-left: auto;
  margin-right: auto;
}

input[type=button]{
  width: 35px;
  position: absolute;
  top: auto;
  background: #A4A4A4;
  color: #fff;
  font-family: tahoma,geneva,algerian;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #999;
}

.img-thum {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all .9s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
}

.img-thum:hover {
  opacity: .7;
  -webkit-transition: all .9s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;

}

a {
  color: #9F113B;
}

.section-dark {
  background-color: #ccc;
}

.section-medium {
  background-color: #e2e2e2;
}

.section-light {
  background-color: #efefef;
}

.masthead {
  text-align: center;
}

.nav {
  padding: 0;
  list-style-type: none;
}

.nav a {
  display: block;

  text-decoration: none;
}

.footer {
  text-align: center;
}

 

.banner {
  position: relative;
  text-align: center;
}

.banner-img {
  padding-top: 20.25%;
  background-image: url(../images/bg.jpg);
  background-size: contain;
}

.intro-wrap {
  background-color: #333;
  width: 100%;
}

.intro {
  margin: 0 auto;
  max-width: 25em;

  color: #fff;
}



.favs {
  text-align: center;
}

.data {
  overflow: hidden;
}

.data dt {
  font-weight: bold;
}

@media only screen and (min-width: 25em) {

  .navbar {
    display: none;
  }

  .nav li {
    display: inline-block;
  }

  .intro-wrap {
    bottom: 1.5rem;
    position: absolute;

    background-color: transparent;
  }

}

@media only screen and (min-width: 38em) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .masthead {
    text-align: right;
  }

  .footer {
    text-align: left;
  }

  .nav-footer {
    text-align: right;
  }

  .intro-wrap {
    bottom: 3rem;
  }

  body {
  padding-left: 10%;
  padding-right: 10%;
}

}

@media only screen and (min-width: 60em) {

   .navbar {
    border-radius: 4px;
  }

  .navbar-header {
    float: left;
  }

  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }

  .data dt {
    clear: both;
    float: left;
    width: 10em;
  }

  .data dd {
    float:  left;
  }

}
