@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.flex-img {
  display: block;
  width: 100%;
}

.img-fit {
  max-width: 99%;
  max-height: 99%;
  display: block;
}

.lightbox {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid black;
  background-color: rgba(0,0,0,.5);
  display: none;
}

.lightbox:target {
  display: block;

}

.lightbox img {
  max-height: 100vh;
  max-width: 100vh;
  margin-left: auto;
  margin-right: auto;

}

.img-thum {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all .9s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
}

.img-thum:hover {
  opacity: .7;
  -webkit-transition: all .9s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;

}

a {
  color: #707000;
}

.section-dark {
  background-color: #ccc;
}

.section-medium {
  background-color: #e2e2e2;
}

.section-light {
  background-color: #efefef;
}

.masthead {
  text-align: center;
}

.nav {
  padding: 0;
  list-style-type: none;
}

.nav a {
  display: block;

  text-decoration: none;
}

.footer {
  text-align: center;
}

.banner {
  position: relative;

  text-align: center;
}

.banner-img {
  padding-top: 56.25%;
  background-size: contain;
}

.intro-wrap {
  background-color: #333;
  width: 100%;
}

.intro {
  margin: 0 auto;
  max-width: 25em;
  color: #fff;
}



.banner-simple p {
  margin: 0 auto;
  max-width: 25em;
  text-align: center;
}

.favs {
  text-align: center;
}

.data {
  overflow: hidden;
}

.data dt {
  font-weight: bold;
}

@media only screen and (min-width: 25em) {

  .navbar {
    display: none;
  }

  .nav li {
    display: inline-block;
  }

  .intro-wrap {
    bottom: 1.5rem;
    position: absolute;

    background-color: transparent;
  }

}

@media only screen and (min-width: 38em) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .masthead {
    text-align: left;
  }

  .footer {
    text-align: left;
  }

  .nav-footer {
    text-align: right;
  }

  .intro-wrap {
    bottom: 3rem;
  }

}

@media only screen and (min-width: 60em) {
   .navbar {
    border-radius: 4px;
  }

  .navbar-header {
    float: left;
  }

  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }

  .data dt {
    clear: both;
    float: left;
    width: 10em;
  }

  .data dd {
    float:  left;
  }

}
